*{
	font-family: "HelveticaNeue-light";
}

.body{
	background-color: #49443e;

}
.time-stamp{
	
	font-size: 12px;
}

h2, span{
	margin-left: 20px;
}

p{
	margin-left: 40px;
	font-size: 17px;
}

input{
	margin-left: 10px;
	margin-right: 20px;
}

.header, .footer{
	text-align: center;
	background-color: skyblue;
	height: 130px;
	padding: 1px;
	width: 100%;
	
}
.footer{
	height: 20px;
}

.col-container{
	width: 100%;	
	display: table;	
	

	
}

 
.col-left{
	background-color: white;
	min-height: 800px;
	display: table-cell;
	width : 60%;

}

.col-right{
	background-color: #ede5de;
	min-height: 800px;
	display: table-cell;
	width: 40%;
}

.button {
    background-color: #eae3dc;
    border: 2px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
}
.user{
	color: blue;
	text-decoration: underline;
	font-size: 20px;
	padding: 0px 5px 0px 5px;

}

.user:hover {
	color: #4c6682;
	cursor: pointer;
}

#clear{
	margin-bottom: 50px;
	background-color: white;
}

